/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  background-color: #F8F3ED; /* color principal */
  color: #3a3a3a;
}

/* Responsive */
@media (max-width: 768px) {
  .hero-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 20px 40px;
  width: 100%;
  background-color: #F8F3ED;
}

.logo img {
  max-height: 60px;
  height: auto;
  width: auto;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.nav-links {
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-links a {
  text-decoration: none;
  color: #D4B07F;
  font-weight: 600;
  transition: color 0.3s ease;
  font-family: 'Montserrat', sans-serif;
}

.nav-links a:hover {
  color: #9DB5A3;
}

/* Hero Section */

.hero-banner {
  background-color: #F8F3ED;
  padding: 80px 5%;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 80px 5%;
  gap: 40px;
  flex-wrap: wrap;
}

.hero-left {
  flex: 1;
  max-width: 600px;
}

.hero-left h1 {
  font-size: 2.8rem;
  color: #D4B07F;
  margin-bottom: 20px;
}

.hero-left p {
  font-size: 1.2rem;
  color: #3a3a3a;
  margin-bottom: 20px;
}

.hero-left ul {
  list-style: none;
  padding: 0;
}

.hero-left li {
  margin-bottom: 10px;
  font-size: 1rem;
  color: #9DB5A3;
}

.hero-form {
  flex: 1;
  max-width: 400px;
  background: white;
  border-radius: 12px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  border: 2px solid #EFD8C5;
}

.hero-form h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #D4B07F;
}

.hero-form form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-form input,
.hero-form button {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #C5C9C3;
  font-size: 1rem;
}

.hero-form input {
  background: #F8F3ED;
  color: #3a3a3a;
}

.hero-form button {
  background: #D4B07F;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease;
  border: none;
}

.hero-form button:hover {
  background: #9DB5A3;
}
