/*
  LumeCare - Main Stylesheet 
  Version: 1.0
  Author: [andresalinas18]
*/
/* @format */
/* @tailwindcss language=postcss */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #C9A475;
  --color-primary-dark: #B58E5E;
  --color-text: #2E2E2E;
  --color-background: #FDFCFB;
  --color-grey-light: #A9A9A9;
  --color-white: #FFFFFF;
  --color-accent-rose: #D8A9AD;
  --color-accent-sage: #9DB5A3;
  --font-headings: 'Lora', serif;
  --font-body: 'Lato', sans-serif;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-background);
  color: var(--color-text);
  font-weight: 400;
  line-height: 1.65;
}

body.nav-open { overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
  color: var(--color-text);
  font-weight: 600;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
} 